<div>

  {% if params %}
    <ul>
      {% for item in params %}
        <li>{{ item.result }} = {{ item.formula }} <span id={{ item.spanId }} class={{ spanClass }}>х</span></li>
      {% endfor %}
    </ul>
  {% endif %}
    <br>
    <p>{{ textAboutAddFormula }}</p>
    {% if not textAboutAddFormula %}
        <div>
            <select id="formulaResult" style="display:inline-block;vertical-align:middle">
                {% for key, item in calcFeilds %}
                    <option id={{ key }}>{{ item }}</option>
                {% endfor %}
            </select> &emsp;=&emsp;
            <textarea  style="display:inline-block; vertical-align:middle" id="formulaString" placeholder="Введите формулу" rows="2" cols="100"></textarea>

        </div>
        <br>
        <button id="add_button">Добавить формулу</button> <br>
    {% endif %}

</div>
